@page
@model IndexModel
@{
    ViewData["Title"] = "WELCOME ";
}
<head>
 <style>
	  #grad1 {
  height: 700px;
  background-color: red;
  background-image: linear-gradient(red, blue, gray);
}
	  </style>
</head>
<div class="text-center";id="grad1">
        <marquee>Hello Everyone</marquee>

    <h1 class="display-4">WELCOME TO POC</h1>
    <h1 style="background-color:DodgerBlue;">Hello World</h1>	
    </div>
